/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0px;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

article {
	display: flex;
  justify-content: center;
  color: #000;
}

section {
  max-width: 600px;
}

section.text {
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.photo {
      margin-left: 1rem;
}

header {
  background: #666;
  color: #fff;
  padding: 2rem;
  margin: 0;
  margin-bottom: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  margin: 0;
  margin-left: 1rem;
  font-size: 1.3rem; 
}

footer {
  background: #666;
  color: #fff;
  text-align: center;
  padding: 2rem;
  margin: 0;
}

#cougar {
  background: #B26219;
  color: #fff;
}

#lion {
  background: #FFD5AE;
}

#tiger {
  background: #FFBD82;
}


/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}
header a {
  text-decoration: none;
  text-transform: uppercase;
}
